@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  background-color: #d1d0dd;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

aside {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside h1 {
    font-size: 2.2vw;
    color: #66347f;
 }

aside img{
  width: 500px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    background-color: #66347F;
}

.login-card {
    width: 60%;
    background: #f2f1f6;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000051;
    text-align: center;
}

.new_user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new_user a{
    color: #66347F;
    font-size: 14px;
}

.login-card h1 {
    color: #66347F;
    margin: 0;
    font-weight: 800;
}

.text-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.text-field input{
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: 0px 10px 40px #00000051;
    outline: none;
}

.text-field label{
    color: #402e5a;
    margin-bottom: 10px;
}

.text-field input::placeholder{
    color: #402e5a;
    opacity: 40%;
}

.login-button{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    background-color: #66347F;
    color: #f2f1f6;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000051;
}

@media only screen and (max-width: 950px){
    .login-card{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    main{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }

    aside h1{
        display: none;
    }

    aside p{
        display: none;
    }

    aside{
        width: 100%;
        height: auto;
        grid-row: 1;
        grid-column: unset;
    }

    .login-form{
        width: 100%;
        height: auto;
        grid-row: 2;
        grid-column: unset;
        padding: 20 0;
    }

    aside img{
        width: 70vw;
    }
}
